@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%); 
  --clr-very-pale-blue: hsl(225, 100%, 98%); 
  --clr-desaturated-blue: hsl(224, 23%, 55%); 
  --clr-dark-blue: hsl(223, 47%, 23%);
}


/* html{
  font-size: 16px;

} */

body{
  background: url(images/pattern-background-desktop.svg) var(--clr-pale-blue);
  background-repeat: no-repeat;
  font-family: 'Red Hat Display', 
  sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.box{
  background-color: white;
  width: 23rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.box-header{
  width: 100%;

  /* height: 15rem;
  background-image: url('../images/illustration-hero.svg'); */
  /* background-position: center;  */
  /* border-top-left-radius: 13px;
  border-top-right-radius: 13px; */
}

.music-image{
  width: 100%;
  height: auto;
  object-fit: contain;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.box-title{
  margin-top: 1.5rem;
  font-weight: 900;
}

.box-description{
  color: hsl(224, 23%, 55%);
  font-size: 16px;

}

.box-details-container{
  width: 80%;
  margin: 0 auto;
  background-color: hsla(225, 100%, 94%, 0.6);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-left-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan{
  font-weight: 700;
  margin-left: rem;
}

.font{
  color:hsl(224, 23%, 55%); 
  
}



.plan_container{
  margin: 0px ;
}

.link-change{
  margin-left: 2rem;
}

.box-buttons-container{
  width: 85%;
  margin-bottom: 1rem;
}

.btn{
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.btn-box{
  width: 100%;
  color: var(--clr-very-pale-blue);
  background-color: var(--clr-bright-blue);
  border: 2px solid var(--clr-bright-blue);
  border-radius: 12px;
  /* margin-top: 2rem; */
  box-shadow: 0px 12px 12px hsla(245, 75%, 52%, 0.25);
}

.btn-box:hover{
  background-color: hsl(224, 23%, 55%);
  cursor: pointer;
}

.link-box{
  text-decoration: none;
  
}

.box-links-container{
  margin-bottom: 2rem;
}

